h1 {
    color: #0E0E52;
    font-size: 64px;
    text-align: left;
    font-weight: 600;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: block;
    padding-left: 10%;
    padding-top: 5%;
  }

  h2 {
    color: #000000;
    font-size: 42px;
    text-align: left;
    font-weight: 300;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: block;
    padding-left: 10%;
    padding-right: 12%;
    padding-top: 2%;
  }

  .first-strip {
    width: 100%;
    height: 400px;
    display:flex; 
    flex-direction:row;
    background-color: #f1f6fd;

  }

  #first-strip-text {
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    padding-left: 10%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }

  #first-strip-img {
    width: 50%;
    height: 350px;
    padding-left: 5%;
    padding-right: 12%;
  }

  h3 {
    font-size: 42px;
    color: #0E0E52;
    padding-left: 10%;
    padding-top: 2%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }

  .flex-class {
    display:flex; 
    flex-direction:row;
    padding-bottom: 0%;
  }

  #team-style {
    font-size: 28px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    font-weight: 300;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }

  #website-img {
    padding-left: 5%;
  }
